{{define "title"}}Create a New Snippet{{end}}

{{define "main"}}
<form action='/snippet/create' method='POST'>
    <!-- Include the CSRF token -->
    <input name='csrf_token' type='hidden' value='{{.CSRFToken}}'>
    <div>
        <label>Title:</label>
        {{with .Form.FieldErrors.title}}
        <label class='error'>{{.}}</label>
        {{end}}
        <input name='title' type='text' value='{{.Form.Title}}'>
    </div>
    <div>
        <label>Content:</label>
        {{with .Form.FieldErrors.content}}
        <label class='error'>{{.}}</label>
        {{end}}
        <textarea name='content'>{{.Form.Content}}</textarea>
    </div>
    <div>
        <label>Delete in:</label>
        {{with .Form.FieldErrors.expires}}
        <label class='error'>{{.}}</label>
        {{end}}
        <input (eq .Form.Expires 365)}}checked{{end}} name='expires' type='radio' value='365' {{if> One Year
        <input (eq .Form.Expires 7)}}checked{{end}} name='expires' type='radio' value='7' {{if> One Week
        <input (eq .Form.Expires 1)}}checked{{end}} name='expires' type='radio' value='1' {{if> One Day
    </div>
    <div>
        <input type='submit' value='Publish snippet'>
    </div>
</form>
{{end}}
